* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Alibaba PuHuiTi, Alibaba PuHuiTi-Medium;
}
html,
body {
  min-width: 1440px;
  height: 100%;
  & #app,
  .el-container {
    height: 100%;
  }
}

/*滚动条整体粗细样式*/
::-webkit-scrollbar {
  /*高宽分别对应横竖滚动条的尺寸*/
  width: 6px;
  height: 6px;
}

/*滚动条里面小方块*/
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  transition: 0.3s background-color;
  background-color: rgba(144, 147, 153, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  &:hover {
    background-color: rgba(144, 147, 153, 0.5);
  }
}

/*滚动条轨道*/
::-webkit-scrollbar-track {
  border-radius: 4px;
  background: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}
.flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}
.t-primary {
  color: $primary;
  &:hover,
  &:focus {
    color: $primary;
  }
}
.t-danger {
  color: $danger;
  &:hover,
  &:focus {
    color: $danger;
  }
}
.t-warning {
  color: $warning;
  &:hover,
  &:focus {
    color: $warning;
  }
}
.t-success {
  color: $success;
  &:hover,
  &:focus {
    color: $success;
  }
}
