$--colors: ('primary': ('base': #32C2CD,
    ),
    'success': ('base': #3177E0,
    ),
    'warning': ('base': #FFC54A,
    ),
    'danger': ('base': #DD664C,
    ),
    'error': ('base': #f56c6c,
    ),
    'info': ('base': #909399,
    ));


$primary: #32C2CD;
$success: #3177E0;
$warning: #FFC54A;
$danger: #DD664C;
$error: #f56c6c;
$info: #909399;
$black: #000000;
$white: #fff;
@forward 'element-plus/theme-chalk/src/common/var.scss'with ($colors: $--colors);

@use 'element-plus/theme-chalk/src/index.scss'as *;