.pad-menu-title {
  margin-left: 5px;
}

.pad-aside {
  background-color: #001529;
}

.pad-aside li.is-active {
  background-color: $primary;
}

.pad-menu-vertical:not(.el-menu--collapse) {
  width: 200px;
  min-height: 100%;
}

.pad-menu-vertical {
  border-color: transparent;
}
