/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
  -webkit-transition: opacity 0.28s;
  -moz-transition: opacity 0.28s;
  -ms-transition: opacity 0.28s;
  -o-transition: opacity 0.28s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.5s;
}

.breadcrumb-enter-from,
.breadcrumb-leave-to {
  opacity: 0;
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
}

.breadcrumb-move {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

/* menu */
.menu-leave-active,
.menu-enter-active {
  transition: width 0.28s;
  -webkit-transition: width 0.28s;
  -moz-transition: width 0.28s;
  -ms-transition: width 0.28s;
  -o-transition: width 0.28s;
}
.menu-enter-from,
.menu-leave-to {
  width: 0px;
}

.menu-leave-from,
.menu-enter-to {
  width: 106px;
}
