.logo {
  height: 60px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  span {
    font-size: 18px;
    margin-left: 12px;
    font-weight: 600;
    animation: fade 0.2s ease-out;
  }
}
.icon {
  height: 32px;
  width: 32px;
}

@keyframes fade {
  0% {
    opacity: 0;
    display: none;
  }
  80% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: unset;
  }
}
