.pad_header {
  background: #fff;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 8px #f0f1f2;
  // box-shadow: rgba(0, 0, 0, 0.05) 0 8px 28px 2px;
  .header_btn {
    height: 100%;
    width: 64px;
    border-radius: 0;
  }
  .nav_left {
    & > div {
      display: inline-block;
    }
  }
  .icon {
    width: 1em;
    height: 1em;
  }
}
